.about .aboutContent {
  width: 100%;
  margin-top: 120px;
  margin-left: 120px;
  display: flex;
  color: black;
}
.about .aboutContent .photoContent {
  margin-left: 15%;
  display: flex;
  width: 60%;
  height: 500px;
  background: url("../../Assets/woman.png");
  background-repeat: no-repeat;
  border-radius: 20px;
}
.about .aboutContent .textDiv {
  display: grid;
  padding: 2rem 0;
}
.about .aboutContent .textDiv .aboutTitle {
  width: 469px;
  height: 59px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  color: #000000;
}
.about .aboutContent .textDiv .smallText {
  margin-top: 2.5%;
  width: 468px;
  height: 90px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: rgba(0, 0, 0, 0.7);
}
.about .aboutContent .textDiv .littleText {
  margin-top: 5%;
  width: 470px;
  height: 56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: rgba(0, 0, 0, 0.7);
}
.about .aboutContent .learnMoreOptions {
  margin-top: 5%;
  width: 170px;
  height: 54px;
  background: black;
  width: -moz-max-content;
  width: max-content;
  color: white;
  padding: 16px 2rem;
  border-radius: 38px;
  justify-content: center;
  cursor: pointer;
}
.about .aboutContent .learnMoreOptions:hover {
  background: var(--PrimaryColor);
}
.about .aboutContent .learnMoreOptions .icon {
  font-size: 18px;
}
.about .aboutContent .learnMoreOptions span {
  font-size: 18px;
}
.about .aboutContent .cardTextWrapper {
  display: flex;
}
.about .aboutContent .cardTextWrapper .cardTextFirst h2 {
  width: 90px;
  height: 44px;
  margin-top: 25%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #ffa500;
}
.about .aboutContent .cardTextWrapper .cardTextFirst p {
  width: 132px;
  height: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
}
.about .aboutContent .cardTextWrapper .cardTextSecond h2 {
  height: 44px;
  margin-left: 55%;
  margin-top: 15%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #ffa500;
}
.about .aboutContent .cardTextWrapper .cardTextSecond h2 p {
  width: 132px;
  height: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
}
.about .aboutContent .cardTextWrapper .cardTextThird h2 {
  margin-top: 20%;
  width: 90px;
  height: 44px;
  margin-left: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #ffa500;
}
.about .aboutContent .cardTextWrapper .cardTextThird h2 p {
  width: 132px;
  height: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {
  .photoContent {
    bottom: 100px;
  }
}/*# sourceMappingURL=about.css.map */